body {
  background-color: #205b73;
}
.container {
  display: grid;
  grid-gap: 60px;

  margin: auto auto;
}
.item {
  display: grid;
}
.item.name {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin: auto auto;
}
img {
  border-radius: 50%;
  width: 20%;
  margin: 60px auto;
  border: 5px #ffffff solid;
}
.fa-github,
.fa-telegram-plane,
.fa-instagram,
.fa-facebook-f,
.fa-twitter {
  color: #ffffff;
}
.social {
  margin: auto auto;
}
ul {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  justify-content: space-around;
  list-style-type: none;
}
